<eva@gentoo.org> <eva@keitaro.perronet.esiee.net>
Alexandre Rostovtsev <tetromino@gentoo.org> <tetromino@gmail.com>
Arun Raghavan <ford_prefect@gentoo.org> <arun.raghavan@collabora.co.uk>
Arun Raghavan <ford_prefect@gentoo.org> <arunissatan@gmail.com>
Daniel Gryniewicz <dang@gentoo.org> <dang@fprintf.net>
Lorenzo Porta <vindex17@outlook.it> Vindex17 <vindex17@outlook.it>
Romain Perier <mrpouet@gentoo.org> <mrpouet@tuxfamily.org>
Rémi Cardona <remi@gentoo.org> <root@atmos.(none)>
Steev Klimaszewski <steev@gentoo.org> <steev@olga.local>
Sobhan Mohammadpour <sobhan@gentoo.org> <sobhanmohammadpour1@yahoo.fr>
Michał Górny <mgorny@gentoo.org> <gentoo@mgorny.alt.pl>
